{{extend '../layouts/layout.html'}}




{{block 'body'}}
<div class="container-fluid">
  <div class="page-title">
    <h1>添加栏目</h1>
  </div>
  <!-- 有错误信息时展示 -->
  <!-- <div class="alert alert-danger">
    <strong>错误！</strong>发生XXX错误
  </div> -->
  <div class="row">
    <div class="col-md-4">
      <form id="form">
        <h2>添加新栏目</h2>
        <div class="form-group">
          <label for="name">名称</label>
          <input id="name" class="form-control" name="name" type="text" placeholder="分类名称">
        </div>
        <div class="form-group">
          <label for="icon">图标</label>
          <input id="icon" class="form-control" name="icon" type="text" placeholder="图标">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button">添加</button>
        </div>
      </form>
    </div>

  </div>
</div>
{{/block}}

{{block 'js'}}

<script>
        // 1 点击按钮 发送ajax
        // 2 获取表单的数据
        // 3 后端处理

        $('.btn-primary').click(function(){

          // 新方法    直接拿到表单的数据 $(表单).serialize() 方法
          var args = $('#form').serialize();

          $.ajax({
            url:'/admin/cate.addcatedel',
            type:'post',
            data:args,
            dataType:'json',
            success:function(msg){
              if(msg.code == 200){
                location.href = '/admin/cate/cate'
              }
            }
          })
        })


</script>
{{/block}}