{{extend '../layouts/layout.html'}}

{{block 'css'}}

<style>
.main .container-fluid label.error{

  color: red;
}

</style>

{{/block}}
{{block 'body'}}

<div class="container-fluid">
  <div class="page-title">
    <h1>修改密码</h1>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="old" class="col-sm-3 control-label">旧密码</label>
      <div class="col-sm-7">
        <input id="old" class="form-control" type="password" name="oldpwd" placeholder="旧密码">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">新密码</label>
      <div class="col-sm-7">
        <input id="password" class="form-control" name="newpwd" type="password" placeholder="新密码">
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
      <div class="col-sm-7">
        <input id="confirm" class="form-control" name="newpwd2" type="password" placeholder="确认新密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-primary">修改密码</button>
      </div>
    </div>
  </form>
</div>
{{/block}}

{{block 'js'}}

<script src="/assets/vendors/validate/jquery.validate.js"></script>
<script>

$('.form-horizontal').validate({
  rules: {
    oldpwd: {
      required: true,
    },
    newpwd: {
      required: true,
      rangelength: [6,16],
    },
    newpwd2: {
      equalTo: '#password'
    }
  },
  messages: {
    oldpwd: {
      required: '旧密码不能为空',
    },
    newpwd: {
      required: '新密码不能为空',
      rangelength: '密码长度在6-16位之间',
    },
    newpwd2: {
      equalTo: '两次密码输入不一致'
    }
  },
  submitHandler:function(){

    $.ajax({
      url:'/api/center/passwd',
      data:$('.form-horizontal').serialize(),
      dataType:'json',
      type:'post',
      success:function(msg){

        alert(msg.message)
      }
    })
    
  }
})


</script>

{{/block}}